<div class="create-pet-container">
    <div class="instructions-content">
      <h2>Instrucciones</h2>
      <ul>
        <li><strong>Tu mascota interactuará contigo </strong>y reaccionará a los gastos hormiga, es decir, aquellos pequeños consumos no esenciales, perdiendo vitalidad y energía.</li>
        <li><strong>Cuando generes estos gastos </strong>se mostrará un informe de tus consumos para ayudarte a planificar mejor tu dinero.</li>
        <li><strong>Tu mascota demostrará en su salud </strong>el informe de tus consumos para ayudarte a planificar mejor tu dinero.</li>
        <li><strong>A medida que reduces tus gastos hormiga y ahorras, </strong>ganarás puntos que podrás usar para mejorar a tu mascota o adquirir nuevas.</li>
        <li><strong>¡Juega, ahorra y ayuda a tu mascota a crecer saludable!</strong></li>
      </ul>
  
      <!-- Contenedor relativo para la mascota y el mensaje flotante -->
      <div class="pet-image-container" (click)="goHome()">
        <img src="https://i.ibb.co/Q3n1XFQj/oso.gif" alt="Mascota" />
        <!-- Mensaje flotante -->
        <div class="speech-bubble">¡Pulsame!</div>
      </div>
    </div>
  </div>
  