<div class="create-pet-container">

    <div class="header-top">
        <div class="user-info">
            <nz-avatar nzText="EN" class="avatar"></nz-avatar>
            <span class="greeting">Hola Esteban <span class="wave">👋</span></span>
        </div>
        <div class="actions-top">
            <button nz-button nzShape="circle" nzType="default" class="btn-icon">
            <i nz-icon nzType="bell" nzTheme="outline"></i>
            </button>
            <button nz-button nzShape="circle" nzType="default" class="btn-icon">
            <i nz-icon nzType="customer-service" nzTheme="outline"></i>
            </button>
        </div>
    </div>

    <h2>Adopta tu nueva De Una Pet</h2>
  
    <div class="pet-grid">
      <div class="pet-card">
        <img src="https://i.ibb.co/vvmBLjQ8/Mascota-USFQ2-1.png" alt="Piti Galápagos" />
      </div>
  
      <div class="pet-card" (click)="goToInstructions()" >
        <img src="https://i.ibb.co/84LzkjXM/Mascota-USFQ-2.png" alt="Piti Sierra" />
      </div>
  
      <div class="pet-card">
        <img src="https://i.ibb.co/tTKYnjDQ/Mascota-USFQ4-2.png" alt="Piti Costa" />
      </div>
  
      <div class="pet-card">
        <img src="https://i.ibb.co/FjLQnn6/Mascota-USFQ3-2.png" alt="Piti Oriente" />
      </div>
    </div>
  
  </div>
  